<div class="wrapper fadeInDown">
  <div id="formContent">




    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <input type="text" id="login" class="form-control" name="email" required email [(ngModel)]="email" placeholder="login"
      [class.is-invalid]="exibeErro('email',form)" #emailInput>
      <p *ngIf="exibeErro('email',form)" class="invalid-feedback">Email Inválido</p>

      <input type="text" id="password" class="form-control " required name="password"
      [(ngModel)]="password" [class.is-invalid]="exibeErro('email',form)" #passwordInput placeholder="password">
      <p *ngIf="exibeErro('password',form)" class="invalid-feedback">Senha Inválida</p>

      <button type="submit" class="btn btn-primary">Entrar</button>
    </form>

    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
